nav {
	width: 100%;
	padding: 38px 0;
}


.row,
.list_item,
.nav-left,
.nav-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list_item {
	list-style-type: none;
	gap: 22px;
}

.nav-right {
	gap: 40px;
}

.list_items_link {
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 30.01px;
	color: #211F54;
	text-decoration: none;
}


.nav-left {
	display: flex;
	align-items: center;
	gap: 24px;
}

.nav-cart-btn {
	border: none;
	background: none;
	cursor: pointer;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 30.01px;
	color: #211F54;
	padding: 10px;
	transition: .5s;
}

.nav-cart-btn:hover {
	border-radius: 20px;
	box-shadow: 0px 4px 10px 0px #14142b1f;
transition: .5s;
}



@media (max-width: 1024px) {
	.navBtn {
		display: none;
	}
}