.BtnComponent {
	width: 217px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
	padding: 17px 24px;
	border-radius: 14px;
	border: none;
	cursor: pointer;
}


.BtnComponent.primary {
	background-color: #0075FF;
	color: white;
	height: 72px;

}


.BtnComponent.light {
	background: none;
	height: 72px;
	color: #211F54;
	border: 1px solid #EFF0F6;
	box-shadow: 0px 4px 10px 0px #14142B0A;

}