.BtnComponent {
	width: 217px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;
	padding: 17px 24px;
	border-radius: 14px;
	border: none;
	cursor: pointer;
	transition: .5s;
}

.BtnComponent:hover {
	transform: scale(1.05);
	transition: 0.5s;
	box-shadow: 0px 4px 10px 0px #14142b1f;
}


.BtnComponent.primary {
	background-color: #0075FF;
	color: white;
	height: 72px;
}


.BtnComponent.light {
	background: none;
	height: 72px;
	color: #211F54;
	border: 1px solid #EFF0F6;
	box-shadow: 0px 4px 10px 0px #14142B0A;

}


@media (max-width: 1024px) {
	.BtnComponent {
		dis
	}
}

@media (max-width:456px) {
	.BtnComponent {
		padding: 0;
		width: 164px;
		font-size: 12px;
	}

	.BtnComponent.light, .BtnComponent.primary {
		height: 50px;
	}
}